# Default ignored files
/shelf/
/workspace.xml
# Ignorar scripts y configuraciones de Gradle
/gradle/
/.gradle/
/build.gradle.kts
/settings.gradle.kts
/gradle.properties
/gradle-wrapper.properties
/local.properties
/libs.versions.toml
**/proguard-rules.pro
